ol,ul,li { list-style:none; }
img { border:none; }
*{box-sizing: border-box;margin: 0;}
button,input{ outline:none; border: none; }
ol,ul,li { list-style:none; }
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.mt1{margin-top: 10px;}
.mt2{margin-top: 20px;}
.mt3{margin-top: 30px;}
.mt4{margin-top: 40px;}
.mt5{margin-top: 50px;}
.mb1{margin-top: 10px;}
.mb2{margin-top: 20px;}
.mb3{margin-top: 30px;}
.mb4{margin-top: 40px;}
.mb5{margin-top: 50px;}
.pl1{margin-top: 10px;}
.pl2{margin-top: 20px;}
.pl3{margin-top: 30px;}
.pl4{margin-top: 40px;}
.pl5{margin-top: 50px;}
.pr1{margin-top: 10px;}
.pr2{margin-top: 20px;}
.pr3{margin-top: 30px;}
.pr4{margin-top: 40px;}
.pr5{margin-top: 50px;}
.textarea{display: block; width: 100vw; height: 100vh;font-size:1.2rem;}
.index-ui{line-height: 30px;margin-top: 20px;}
